@import url(styles/header.css);
:root{
--cor-de-fundo: #f7834d;
--cor-cabecalho: #FFFFFF;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container_imagem, .container_frase{
        padding: 1em;
    }
    .container_titulo, .container_frase{
    display:none;
    }


