@import url(styles/header.css);
:root{
--cor-de-fundo: #9949B4;
--cor-cabecalho: #FFFFFF;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}

@media screen and (min-width: 820px)
    {
        .conteriner_titutlo, .container_titulo--negrito{
            font-size: 30px;
        }
    }
       .conteriner_titutlo{
        font-weight: 400;
        display: block;
       }